@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --visible-column-count: 1;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#requestTableWrapper > table {
  width: 100%;
  height: 100%;
  color: #fff;
  border-collapse: separate;
  border: none;
  border-spacing: 0;
}
#requestTableWrapper > table > thead > tr {
  background-color: var(--table-head);
}
#requestTableWrapper > table > thead > tr > th {
  line-height: 1.5rem;
  height: 1.5rem;
  border-right: 1px solid var(--table-row-border);
  padding: 1px 4px;
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
  min-width: fit-content;
  width: 100%;
  max-width: calc(100vw / var(--visible-column-count));
}
#requestTableWrapper > table > tbody > tr {
  background-color: var(--table-odd);
  border: none;
}
#requestTableWrapper > table > tbody > tr:nth-child(even) {
  background-color: var(--table-even);
}
#requestTableWrapper > table > tbody > tr:hover {
  background-color: var(--network-row-hover);
}
#requestTableWrapper > table > tbody > tr > td {
  padding: 1px 4px;
  height: 20px;
  border-right: 1px solid var(--table-row-border);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: calc(100vw / var(--visible-column-count));
}
#requestTableWrapper > table > tbody > tr > td:last-of-type {
  border-right: none;
}

#network-toolbar {
  background-color: var(--network-toolbar);
  border-bottom: 1px solid var(--table-row-border);
  padding: 2px;
}
#network-toolbar button {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#network-toolbar button > img {
  width: 1rem;
  height: 1rem;
}

.network-table-subtle {
  color: var(--network-table-subtle);
}

abbr.network-table-subtle {
  text-decoration: none;
}

.network-error-row {
  color: var(--network-error-row);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 0.5rem;
  border: none;
  width: 100%;
  max-width: var(--max-content-width);
  box-shadow: var(--shadow);
  padding: 0.5rem;
  background-color: var(--table-head);
  color: #fff;
  flex-direction: column;
}
dialog[open] {
  display: flex;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.42);
}
dialog > .dialog-header {
  display: flex;
}
dialog > .dialog-header > h2 {
  font-weight: normal;
}
dialog > .dialog-header > .dialog-close {
  appearance: none;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  margin-left: auto;
  transition: 200ms;
}
dialog > .dialog-header > .dialog-close:hover {
  opacity: 0.5;
}
dialog > .dialog-content > .repeatRequestUrlWrapper {
  display: flex;
}
dialog > .dialog-content > .repeatRequestUrlWrapper > select, dialog > .dialog-content > .repeatRequestUrlWrapper input {
  color: #fff;
  background-color: var(--table-even);
  border: 2px solid var(--table-row-border);
  padding: 0.6rem;
  margin: 0;
}
dialog > .dialog-content > .repeatRequestUrlWrapper > select:focus, dialog > .dialog-content > .repeatRequestUrlWrapper input:focus {
  outline: none;
  background-color: transparent;
}
dialog > .dialog-content > .repeatRequestUrlWrapper > select {
  border-right: none;
  font-size: 0.9rem;
  font-weight: bold;
  position: relative;
}
dialog > .dialog-content > .repeatRequestUrlWrapper > select::after {
  content: "";
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  color: #fff;
  background-image: url("../../img/icon/chevron-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
dialog > .dialog-content > .repeatRequestUrlWrapper > input {
  appearance: none;
  flex: 1;
}
dialog > .dialog-content > .repeatRequestPanelWrapper {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0 0.5rem 0;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanelHeader {
  margin-bottom: 0.75rem;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanelHeader > button {
  appearance: none;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanelHeader > button:not(:last-of-type) {
  margin-right: 0.75rem;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanelHeader > button.is-active {
  border-bottom: 3px solid var(--table-row-border);
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id] {
  display: none;
  font-size: 0.9rem;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id].is-active {
  display: initial;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id] > table {
  width: 100%;
  border: 2px solid var(--table-row-border);
  border-collapse: collapse;
  font-size: inherit;
  margin: 0;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id] > table tr {
  transition: 200ms;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id] > table tr > td, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id] > table tr th {
  border: 2px solid var(--table-row-border);
  text-align: left;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id] > table tr > td > input, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id] > table tr th > input {
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  font-size: inherit;
  color: #fff;
  width: 100%;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id] > table tr > td > input:focus, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id] > table tr th > input:focus {
  outline: none;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id] > table tr:focus-within {
  border-color: #fff;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id] > table tr > th {
  padding: 0.5rem;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization].is-active {
  display: flex;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeWrapper {
  display: flex;
  border-right: 1px solid var(--table-row-border);
  margin-left: 0.5rem;
  padding-right: 1.25rem;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeWrapper > select {
  border: 2px solid var(--table-row-border);
  background-color: transparent;
  padding: 0.5rem;
  height: 35px;
  color: #fff;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeWrapper label {
  margin-right: 1rem;
  height: 35px;
  line-height: 35px;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper {
  padding-left: 1.25rem;
  width: 100%;
  height: 12.5rem;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id] {
  display: none;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id].is-active {
  display: flex;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=apiKey], dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=bearerToken], dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=basicAuth] {
  flex-direction: column;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=apiKey] > div, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=bearerToken] > div, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=basicAuth] > div {
  display: flex;
  align-items: center;
  margin: 0.5rem 1.25rem 0.5rem 0;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=apiKey] > div > label, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=bearerToken] > div > label, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=basicAuth] > div > label {
  margin-right: 0.75rem;
  width: 6rem;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=apiKey] > div > input:not([type=checkbox]), dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=bearerToken] > div > input:not([type=checkbox]), dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=basicAuth] > div > input:not([type=checkbox]) {
  width: 100%;
  appearance: none;
  padding: 0.5rem;
  background-color: transparent;
  border: 2px solid var(--table-row-border);
  transition: border-color 200ms;
  color: #fff;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=apiKey] > div > input:not([type=checkbox]):focus, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=bearerToken] > div > input:not([type=checkbox]):focus, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=basicAuth] > div > input:not([type=checkbox]):focus {
  outline: none;
  border-color: #fff;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=apiKey] > div.checkbox-wrapper > label, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=bearerToken] > div.checkbox-wrapper > label, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=basicAuth] > div.checkbox-wrapper > label {
  width: 100%;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=apiKey] > div.checkbox-wrapper > input, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=bearerToken] > div.checkbox-wrapper > input, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=basicAuth] > div.checkbox-wrapper > input {
  display: inline-block;
  appearance: none;
  margin-right: 0.75rem;
  margin-left: 6rem;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border: 2px solid var(--table-row-border);
  position: relative;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=apiKey] > div.checkbox-wrapper > input::after, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=bearerToken] > div.checkbox-wrapper > input::after, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=basicAuth] > div.checkbox-wrapper > input::after {
  position: absolute;
  content: "✕";
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  font-size: 0.8rem;
  color: #fff;
  opacity: 0;
  transition: 200ms;
}
dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=apiKey] > div.checkbox-wrapper > input:checked::after, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=bearerToken] > div.checkbox-wrapper > input:checked::after, dialog > .dialog-content > .repeatRequestPanelWrapper > .repeatRequestPanel > div[data-panel-id][data-panel-id=Authorization] > .repeatRequestAuthorizationTypeValueWrapper > [data-authorization-id][data-authorization-id=basicAuth] > div.checkbox-wrapper > input:checked::after {
  opacity: 1;
}

/*# sourceMappingURL=network.css.map */
