*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --visible-column-count: 1;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#requestTableWrapper > table {
  width: 100%;
  height: 100%;
  color: #fff;
  border-collapse: separate;
  border: none;
  border-spacing: 0;

  > thead {
    > tr {
      background-color: var(--table-head);

      > th {
        line-height: 1.5rem;
        height: 1.5rem;
        border-right: 1px solid var(--table-row-border);
        padding: 1px 4px;
        font-weight: normal;
        white-space: nowrap;
        text-align: left;
        min-width: fit-content;
        width: 100%;
        max-width: calc(100vw / var(--visible-column-count));
      }
    }
  }

  > tbody {
    > tr {
      background-color: var(--table-odd);
      border: none;

      &:nth-child(even) {
        background-color: var(--table-even);
      }

      &:hover {
        background-color: var(--network-row-hover);
      }

      > td {
        padding: 1px 4px;
        height: 20px;
        border-right: 1px solid var(--table-row-border);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        max-width: calc(100vw / var(--visible-column-count));

        &:last-of-type {
          border-right: none;
        }
      }
    }
  }
}

#network-toolbar {
  background-color: var(--network-toolbar);
  border-bottom: 1px solid var(--table-row-border);
  padding: 2px;

  button {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    > img {
      width: 1rem;
      height: 1rem;
    }
  }
}

.network-table-subtle {
  color: var(--network-table-subtle);
}

abbr.network-table-subtle {
  text-decoration: none;
}

.network-error-row {
  color: var(--network-error-row);
}


dialog {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 .5rem;
  border: none;
  width: 100%;
  max-width: var(--max-content-width);
  box-shadow: var(--shadow);
  padding: .5rem;
  background-color: var(--table-head);
  color: #fff;
  flex-direction: column;

  &[open] {
    display: flex;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, .42);
  }

  > .dialog-header {
    display: flex;

    > h2 {
      font-weight: normal;
    }

    > .dialog-close {
      appearance: none;
      background-color: transparent;
      border: none;
      font-size: 1rem;
      cursor: pointer;
      color: #fff;
      margin-left: auto;
      transition: 200ms;

      &:hover {
        opacity: .5;
      }
    }
  }

  > .dialog-content {

    > .repeatRequestUrlWrapper {
        display: flex;

        > select, input {
          color: #fff;
          background-color: var(--table-even);
          border: 2px solid var(--table-row-border);
          padding: .6rem;
          margin: 0;

          &:focus {
            outline: none;
            background-color: transparent;
          }
        }

        > select {
          border-right: none;
          font-size: .9rem;
          font-weight: bold;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            right: .25rem;
            top: 50%;
            transform: translateY(-50%);
            width: 1rem;
            height: 1rem;
            color: #fff;
            background-image: url('../../img/icon/chevron-down.svg');
            background-repeat: no-repeat;
            background-size: contain;
          }
        }

        > input {
          appearance: none;
          flex: 1;
        }
    }

    > .repeatRequestPanelWrapper {
      display: flex;
      flex-direction: column;
      margin: 1.5rem 0 .5rem 0;

      > .repeatRequestPanelHeader {
        margin-bottom: .75rem;

        > button {
          appearance: none;
          padding: .5rem;
          font-size: .9rem;
          border: none;
          background-color: transparent;
          color: #fff;
          cursor: pointer;

          &:not(:last-of-type) {
            margin-right: .75rem;
          }

          &.is-active {
            border-bottom: 3px solid var(--table-row-border);
          }
        }
      }

      > .repeatRequestPanel {
        > div[data-panel-id] {
          display: none;
          font-size: .9rem;

          &.is-active {
            display: initial;
          }

          > table {
            width: 100%;
            border: 2px solid var(--table-row-border);
            border-collapse: collapse;
            font-size: inherit;
            margin: 0;

            tr {
              transition: 200ms;

              > td, th {
                border: 2px solid var(--table-row-border);
                text-align: left;

                > input {
                  appearance: none;
                  border: none;
                  background-color: transparent;
                  padding: .5rem;
                  font-size: inherit;
                  color: #fff;
                  width: 100%;

                  &:focus {
                    outline: none;
                  }
                }
              }

              &:focus-within {
                border-color: #fff;
              }

              > th {
                padding: .5rem;
              }
            }
          }

          &[data-panel-id="Authorization"] {
            &.is-active {
              display: flex;
            }

            > .repeatRequestAuthorizationTypeWrapper {
              display: flex;
              border-right: 1px solid var(--table-row-border);
              margin-left: .5rem;
              padding-right: 1.25rem;

              > select {
                border: 2px solid var(--table-row-border);
                background-color: transparent;
                padding: .5rem;
                height: 35px;
                color: #fff;
              }

              label {
                margin-right: 1rem;
                height: 35px;
                line-height: 35px;
              }
            }

            > .repeatRequestAuthorizationTypeValueWrapper {
              padding-left: 1.25rem;
              width: 100%;
              height: 12.5rem;

              > [data-authorization-id] {
                display: none;

                &.is-active {
                  display: flex;
                }

                &[data-authorization-id="apiKey"], &[data-authorization-id="bearerToken"], &[data-authorization-id="basicAuth"] {
                  flex-direction: column;

                  > div {
                    display: flex;
                    align-items: center;
                    margin: .5rem 1.25rem .5rem 0;

                    > label {
                      margin-right: .75rem;
                      width: 6rem;
                    }

                    > input:not([type="checkbox"]) {
                      width: 100%;
                      appearance: none;
                      padding: .5rem;
                      background-color: transparent;
                      border: 2px solid var(--table-row-border);
                      transition: border-color 200ms;
                      color: #fff;

                      &:focus {
                        outline: none;
                        border-color: #fff;
                      }
                    }

                    &.checkbox-wrapper {
                      > label {
                        width: 100%;
                      }

                      > input {
                        display: inline-block;
                        appearance: none;
                        margin-right: .75rem;
                        margin-left: 6rem;
                        width: 1rem;
                        height: 1rem;
                        background-color: transparent;
                        border: 2px solid var(--table-row-border);
                        position: relative;

                        &::after {
                          position: absolute;
                          content: '✕';
                          top: 50%;
                          left: 70%;
                          transform: translate(-50%, -50%);
                          width: 1rem;
                          height: 1rem;
                          font-size: .8rem;
                          color: #fff;
                          opacity: 0;
                          transition: 200ms;
                        }

                        &:checked::after {
                          opacity: 1;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}