:root {
  --background: #242424;
  --table-head: #292a2d;
  --table-even: #292929;
  --table-odd: #242424;
  --table-row-border: #494c50;
  --network-toolbar: #292a2d;
  --network-row-hover: #182437;
  --network-row-selected: #0e639c;
  --network-row-selected-error: rgb(71 36 34);
  --network-table-subtle: rgb(189, 198, 207);
  --network-table-subtle-2: gray;
  --network-table-font-size: 12px;
  --network-error-row: #ed4e4Ccf;
  --max-content-width: 80rem;
  --shadow: 5px 5px 32px 5px rgba(0,0,0,0.3);
;
}